.container{
    background-color: rgb(255, 255, 255);
    border-radius: 0.3rem;
    box-shadow: rgba(0,0,0,0.38) 0px 1px 8px;
    border-radius: 4px;
    min-height:900px;
  }
  body{
    background: -webkit-linear-gradient(left, #3a3f9d, #ea9191);
}
  