<!-- Button trigger modal -->
<div class="col text-center">
<button type="button" class="btn btn-primary float-right m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
(click)="addClick()" data-keyboard="false">
   Add Supplier
  </button>
</div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{Modaltitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closeClick()"
          ></button>
        </div>
        <div class="modal-body">
            <app-add-edit-supplier [supplier]="supplier" *ngIf="activateAddEditSupplierComp"></app-add-edit-supplier>
        </div>
        
      </div>
    </div>
  </div>
  <div class="table-responsive ">

<table class="table table-striped w-auto center">
    <thead class="table-light">
     <tr>
         <th>Supplier Id</th>
         <th> Supplier Name</th>
         <th>Purchase Number</th>
         
         <th>Options</th>
         
     </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataItem of SupplierList">
          <td>{{dataItem.supplierId}}</td>
          <td>{{dataItem.supplierName}}</td>
         
          <td>{{dataItem.purchaseNumber}}</td>
          
         
          <td>
            <button type="button" class="btn btn-primary float-right m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
            (click)="editClick(dataItem)" data-keyboard="false" >Edit</button>
            <button (click)="deleteClick(dataItem)"   type="button" class="btn btn-light mr-1" >Delete</button>
      </td>
      </tr>
    </tbody>
  </table>

</div>
